<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Inicio</title>
</head>
<body class="bg-dark">
<nav th:replace="components/navbar :: nav_bar"></nav>
<hr class="bg-light mt-0 mb-0">
<div th:replace="components/carousel :: carousel"></div>
<div class="container ">
    <div class="row mt-5">
        <div class="col-12 col-md-3" th:each="videojuego : ${videojuegos}">
            <div th:replace="components/card :: _card"></div>
        </div>
    </div>
</div>


<!-- Footer -->
<footer class="page-footer font-small mdb-color darken-3 pt-5">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <!-- Video -->
                <div class="embed-responsive embed-responsive-16by9 mb-4">
                    <iframe class="embed-responsive-item" src="https:www.youtube.com/embed/watch?v=nvoKukoZ6w8&list=PLRFOqDrY-6nu_k7XrUgIgd5SA3Vg7TiWe"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="components/footer :: footer"></div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>

